@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

:root{
    /*paleta de cores*/
    --cor1: #22577A;
    --cor2: #C0FDFB;
    --cor3: #FF8C42;
    --cor4: #A30B37;
}

*{
    margin: 0px;
    padding: 0px;
}

header{
    background-color: var(--cor1);
    display:flex;
    align-items: center;
    justify-content: space-between;
    min-height: 50px;
}

main{
    max-width: 1120px;
    min-height: 520px;
    margin: auto;
    border: solid 1px black;
}

.menu-astros{
    border: solid 1px black;
    display: flex;
    column-gap: 20px;
    row-gap: 20px;
    flex-wrap: wrap;
    max-width: 700px;
    margin: auto;
}

.astro{
    display: flex;
    align-items: center;
    border: solid 1px black;
    width: 160px;
    height: 60px;
}