@charset "UTF-8";

:root{
    /*paleta de cores*/
    --cor1: #9154FF;
    --cor2: #504DEB;
    --cor3: #4E86FF;
    --cor4: #3CABE8;
    --cor5: #4DFBFF;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor4);
}

header{
    background-color: var(--cor2);
    padding: 50px;
    text-align: center;
}

main{
    background-color: var(--cor3);
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
}

nav{
    background-color: var(--cor1);
    padding: 5px;
    text-align: center;
    max-width: 800px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;

}

nav > a > img:hover{
    outline-color: white;
    outline-style: solid;

}